
/* Importação das fontes do Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap);

:root {
    --heading-font: 'Nunito Sans', sans-serif;
    --primary-color: #8ECAE6;
    --secondary-color: #219EBC;
    --accent1: #FFB703;
    --accent2: #FB8500;
}

body {
    font-family: var(--heading-font);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* novo Cor de fundo semelhante à imagem de exemplo */
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}  

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(235, 53, 53, 0.1);
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-color);
    font-size: 3rem;
    text-align: center;
}

.hero article {
    position: relative;
    padding: 20px;
}

.hero article img {
    float: right;
    margin-left: 20px;
    width: 200px; /* Ajuste conforme necessário */
    height: auto;
}

.hero article p {
    color: var(--secondary-color);
    font-size: 1.1rem;
}

section {
    margin: 30px 0;
}

section h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

section p {
    color: var(--secondary-color);
    font-size: 1.1rem;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

.sociallinks {
    margin-top: 20px;
}

.sociallinks a {
    display: inline-block;
    margin: 0 10px;
    color: white;
}

.sociallinks a img {
    width: 30px;
    height: 30px;
}