
/* Importação das fontes do Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap);

:root {
    --heading-font: 'Nunito Sans', sans-serif;
    --primary-color: #07a1e8;
    --secondary-color: #219EBC;
    --accent1: #FFB703;
    --accent2: #FB8500;
}

body {
    font-family: var(--heading-font);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #dff1f2; /* novo Cor de fundo semelhante à imagem de exemplo */
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
    text-align:center;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav {
    text-align:center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}  

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(227, 107, 107, 0.1);
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    background-color: rgba(112, 103, 239, 0.299); /* Cor de fundo com transparência */
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

.hero article {
    position: relative;
    padding: 20px;
}

.hero article img {
    float: right;
    margin-left: 20px;
    width: 300px; /* Ajuste conforme necessário */
    height: auto;
}

.hero article p {
    color: var(--secondary-color);
    font-size: 1.1rem;
}

section {
    margin: 30px 0;
}

section h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

section p {
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container-img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

.sociallinks {
    margin-top: 20px;
}

.sociallinks a {
    display: inline-block;
    margin: 0 10px;
    color: white;
}

.sociallinks a img {
    width: 30px;
    height: 30px;
}

body h1{
    text-align: center;
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #FB8500;
    max-width: 1000px;
}
.logo img{
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1{
    font-size: 2rem;
    font-family: Arial, sans-serif;
}

nav {
    text-align:right;
}

.navigation {
    display:flex;
    list-style: none;
}
.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover{
    color: #f0f0f0;
    font-weight: 700;
    text-decoration: underline;
}
.container{
    display:flex;
}

.container img{
    margin-right: 10px;
}

.imagem-meio{
    float: center;
    margin: 0 10px 10px 0;
}

.container{
    display:block;
    align-items: center;
}

.imagem-meio{
    max-width: 100%;
    margin: 0 20px;
}
#team {
    padding: 20px 0;
    text-align: center;
}
.team-member{
    display:block;
    margin: 20px;
}
.team-member img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.team-member p{
    margin-top: 20px;
}

/* Estilos para a seção de comentários */
#comments{
    padding: 20px 0;
    text-align: center;
}
form{
    max-width: 650px;
    margin: 0 auto;
    background-color: #ffb8037d;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: grid;
}

fieldset{
    display:grid;
    grid: gap 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(243, 243, 241, 0.93);
    padding: 1rem;
}
.form-group{
    margin-bottom: 15px;
}
label{
    display:block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea,
select{
    width: calc(100%-20px);
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"]{
    background-color:#FB8500;
    color:#ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: #FB8500;
}
/* FIM Estilos para a seção de comentários */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
}
.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Trip styles */

main {
    text-align:center;
    padding: 20px 0;
}
.cta {
    text-align:center;
    margin-bottom: 40px;
}
.cta h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.cta p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.button {
    display:inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.button:hover {
    background-color: #286090;
}

.trip-description {
    display:block;
    justify-content: space-between;
    margin-bottom: 40px;
}

.trip {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 20px;
}

.trip img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.trip h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.trip p {
    font-size: 1.1em;
}

.trip-table {
    overflow-x: auto;
    margin-bottom: 40px;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
}

.trip-table th, .trip-table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}

.trip-table th {
    background-color:  #337ab7;
    color: #fff;
}

/* Home Styles */
section {
    text-align:center;
    padding: 20px 0;
}
.hero {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    background-color:rgba(236, 233, 233, 0.5); /* Cor de fundo com transparência */
    border-radius: 0 0 10px 10px; /* Borda arredondada */
    transform: translateY(-50%);
    z-index: 1; /* Garante que o texto fique sobre a imagem */
}
.hero-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: navy;
}

.hero-text p {
    font-size: 1.5em;
    color:navy;
}

.newsletter {
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.newsletter h3 {
    margin-bottom: 10px;
    font-size: 1.8em;
}
.newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}
.newsletter input[type="text"],
.newsletter input[type="email"] {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
}
.newsletter button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.newsletter button:hover {
    background-color:#FB8500;
}

.cta {
    text-align: center;
    margin-bottom: 40px;
}

.cta h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.grid-item h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 1em;
    color: #666;
}